<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Virtual Machine</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css"/>
</head>
<body>
  <div class="container" >
     <div class="azkaban">

        <h1> {{vmachine.name}} </h1>
        <h2> {{vmachine.os}} </h2>

    <div class="table_azkaban">
   <table>

   <tr>
       <td width="240" height="30"><font color="  #021fc5  ">{{vmachine.get_status()}}</td>


       <td width="50" height="30"><a href="/change_status/0"><font color=" #ec0000 ">Stop</font></a> </td>
       <td width="50" height="30"><a href="/change_status/1"><font color=" #46c429">Start</font></a> </td>
       <td><a href="/change_status/2"><font color=" #ff13bf ">Suspend</font></a> </td>
   </tr>
   </table>
   <br>
   <table >
       <tr>
          <td width="150" height="40"></td>
          <td width="150"><center>Total</center></td>
          <td width="120"><center> % Used</center></td>
        </tr>

        <tr style="background-color: #e8e6ff">
            <td height="40">RAM</td>
            <td><center>{{vmachine.ram}} GB</center></td>
            <td><center>{{ "%.2f"|format(vmachine.ram_usage())}} %</center></td>
        </tr>

         <tr style="background-color:  #f7d0ec ">
             <td height="40">CPU</td>
             <td><center>{{vmachine.cpu}} GHZ</center></td>
             <td><center>{{ "%.2f"|format(vmachine.cpu_usage())}} %</center></td>
         </tr>

         <tr style="background-color: #eebeff">
             <td height="40">HDD</td>
             <td><center>{{vmachine.hdd}} GB</center></td>
             <td><center>{{ "%.2f"|format(vmachine.hdd_usage())}} %</center></td>
         </tr>
   </table>
    </div>
   </div>

   <br>


      <div class="launch_proc">
          <div class="button">
       <a href="/run_process">Launch process</a>
       </div>
       </div>
       <br>
       <div class="launch_table">


        {% for proc in vmachine.proc %}
        <table border="1">
        <br>
          <tr><td width="500" height="30" class="first">Process {{proc.pid}}</td></tr>
          <tr><td width="500" height="30" class="second">RAM: {{proc.ram}} GB | CPU: {{proc.cpu}}  GHZ | HDD: {{proc.hdd}} GB</td></tr>
        </table>
        {% endfor %}

   </div>
</div>
</body>
</html>
