body {width: 100%; margin: auto}

div.container {width: 1300px; height: 600px; lightgray; padding-left: 50px; padding-top: 50px}

div.azkaban {float: left; width: 500px; height: 400px; padding-left: 5px  ; border-radius: 15%; box-shadow: 0px 0px 3px 3px #BABABA; background-color:  #ffb1cd }

    div.azkaban h1 {text-align: center; color: #000000 ; padding-top: 20px}
    div.azkaban h2 {text-align: center; color: #ff005d }

div.table_azkaban {padding-left: 32px; }

div.launch_proc {float: left; padding-left: 330px;}

    div.button {float:left;width: 150px;height: 40px;padding-top: 20px; background-color: #ffb1f6 ;text-align: center;border-radius: 30%}

    div.button:hover{border-radius: 30%;background-color: #b1fff9 ;width: 150px;height: 40px;box-shadow:0px 0px 3px 3px #BABABA }


div.launch_table {float: left; padding-left: 150px}
div.launch_table td.first {background-color:  #ffffb1  }
div.launch_table td.second {background-color:  #b1ffba  }
